* {
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    
}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar-brand {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;;
}

.nav-item {
    color: white;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.nav-link {
    color: white;
}

a {
    text-decoration: none;
    color: white;   
}

a:hover {
    color: rgb(218, 64, 218);
}

.background {
    
    width: 100%;
    margin-top: 50px;
}

.member-container {
    padding: 10px;
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

h3 {
    color: white;
}

button {
    width: 25%;
    background-color: gray;
    text-align: center;
}

.wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


.wrapper {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px;
}

.box {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.grid-image {
    max-width: 100%;
    height: 100%;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg {
    width: 200px;
    height: 100%;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}