* {
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    
}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar-brand {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;;
}

.nav-item {
    color: white;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.nav-link {
    color: white;
}

a {
    text-decoration: none;
    color: white;   
}

a:hover {
    color: rgb(218, 64, 218);
}

.background {
    
    width: 100%;
    margin-top: 50px;
}

.create-container {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-size: 20;
    width: 100%;
    height: fit-content;
    
}

button {
    background-color: black;
    width: 184px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg {
    width: 200px;
    height: 100%;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

